<div id="home-banner" class="text-center">
  <h1>Quickest way to make short screencasts to explain something.</h1>
  <h2>When explaining features, issues or tutorials sometimes a 30 second screencast is best.</h2>
  <div class="clearfix"></div>
  <%= link_to "", class: "mac-download" do %>
    <div class="row-fluid">
      <div class="span4">
        <%= image_tag_with_at2x 'home/ico-app-store.png', height: 42, width: 42 %>
      </div>
      <div class="span8">
        <h5>Available on the</h5>
        <h4>Mac App Store</h4>
      </div>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>

<div id="user-count">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h3 class="thin text-center">523 quick sling shots have been created.</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="number-steps" class="row-fluid text-center">
    <div class="span4">
      <span class="background-number-counter">1</span>
    </div>
    <div class="span4">
      <span class="background-number-counter">2</span>
    </div>
    <div class="span4">
      <span class="background-number-counter">3</span>
    </div>
  </div>
  <div id="features-talk" class="row-fluid text-center">
    <div class="span4">
      <h4 class="thin"><i class="icon-download-alt"></i> Download the app</h4>
    </div>
    <div class="span4">
      <h4 class="thin"><i class="icon-circle-blank "></i> Record your screencast</h4>
    </div>
    <div class="span4">
      <h4 class="thin"><i class="icon-share"></i> Share the link</h4>
    </div>
  </div>
</div>
<hr/>

<div class="container">
  <div class="row-fluid">
    <div class="span5 offset1">
      <h3>Simple to use</h3>
      <p>Sling was created to make it easier for <strong>customer support</strong> to show a client <strong>how to do something using video</strong> instead of writing an email response. 
      </p>
    </div>
    <div class="span5 offset1">
      <h3>Reliable</h3>
      <p>Quit is safely powered by Heroku and Amazon's Simple Storage Service.
      </p>
    </div>
  </div>
</div>






