<div id="home-banner" class="text-center">
  <h1>Quickest way to make short screencasts for customer support.</h1>
  <h2>When explaining features, issues or tutorials sometimes a 30 second screencast is best.</h2>
  <div class="clearfix"></div>
  <%= link_to new_user_registration_path, class: "mac-download" do %>
    <div class="row-fluid">
      <div class="span4">
        <%= image_tag 'home/ico-app-store.png' %>
      </div>
      <div class="span8">
        <h5>Available on the</h5>
        <h4>Mac App Store</h4>
      </div>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>