<div id="watch-guide-top">
  <span class="label label-important">Browse Groups</span>
</div>

<div id="watch-filter-container">

</div>

<div id="watch-guide-top">
  <span class="label label-success">Info</span>
</div>


<div id="watch-filter-about">
</div>
