<div id="top_info">
  </br>
  <p><em>With social network evolves into every part of our life, it's time to learn languages the social network way - the echo way.</em></p>
  <em>-- Michael Zhang, founder of Echowee</em>
  
</div>
