<div id="left-side-panel">

  <h3>What is Echowee?</h3>
  <h4>One of the most daunting experiences a person can face is the request to deliver a speech without notice.</h4>
  <h4>Echowee is a soical speaking network designed to train, improve your impromptu and general speaking skills.</h4>

  <h3>How it works?</h3>
  <h4>You will be randomly asked a question, and you have 140 seconds to answer it.</h4>
  <h4>There will be 4 evaluators assigned to give you feedbacks to help you grow.</h4>

  <h3>Why 140 seconds?</h3>
  <h4>The most important thing to remember when answering a question is to keep it concise.</h4>
  <h4>The best answer is most likely not the lengthy one, but the one right to the point.</h4>

</div>

